# === Linux / Ubuntu ===
*~
.Trash-*
.DS_Store
*.swp
*#

# === Docker ===
*.tar
*.tar.*
docker-compose.override.yml
**/docker-volume/

# === Python ===
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/

# === VSCode ===
.vscode/
.history/

# === System loggar ===
*.log
*.log.*
